body
{
    font-family: 'Lato', sans-serif;
    
}
.button-round
{
    width: 350px;
    height: 350px;

    border-radius: 300px;
    background-color: red;

    display: block;
    margin:auto;
    text-align: center;

    margin-top: 250px;

    position: absolute;
    left: 0;
    right: 0;   
}

#screen-home
{
    width: 1920px;
    background-color: #d9d9d9;
    height: 1000px;
}


.clear
{
    clear: both;
}

#time
{
    float: right;
    color: WHITE;
    
    font-size: 1.5em;
    
    padding: .7% 0;
}

.top-block
{
    width: 100%;
    height: auto;
    
    background-color: #2C3746;
    
    padding: 2.25% 4% 2.25% 3%;
}

.top-block .soe-banner
{
    width: 450px;

}

.prompt-block
{
    width: 100%;
    background-color: white;
    
    padding: 3%;
    margin-bottom: 3.5%;
    
}
.prompt-block h2
{
    text-align: center;
    font-size: 2.5em;
    
    font-weight: 300;
    
    letter-spacing: 1px;
}

.mid-block{
    height: 701px;
    width: 100%;
    background-color: #D9D9D9;
    padding: 3.5% 0 5% 0;
}

.left-bubble .bubble, .right-bubble .bubble
{
    width: 600PX;
    margin-top: 26%;
}
.left-bubble .bubble
{
    position: absolute;
    LEFT: 55%;
}
.right-bubble .bubble
{
    position: absolute;
    right: 55%;
}
.center-bubble .bubble
{
    width: 70%;
    margin: 5% 15% 0 9.45%;
}
.bottom-block .mic
{
    width: 13%;
    
    display: block;
    margin: auto;

    position: relative;
    bottom: 80px;
    z-index: 10;

}

.bottom-block
{
    width: 100%;
    background-color: #2C3746;
    
    height: 200px;
/*    padding: 5% 0 2% 0;*/
    
    padding: 0 3% 3% 3%;

    
}

.bottom-block h4
{
    color: white;
    text-align: center;
    position: relative;
    bottom: 70px;
    z-index: 2;
    font-size: 1.65em;
    
    letter-spacing: .75px;
    font-weight: 200;
}

.bottom-block .mic-container{
    width:65%;
    margin: auto;
    display: block;
    padding: 0 1%;
}
.bottom-block .bottom-container{
    width:17.5%;
    margin: auto;
    display: block;
    float: left;
    position: relative;
    text-align: center;
    
    font-size: .85em;

}
.bottom-block .bottom-container p{
    color: white;
    font-size: 1.75em;
    font-weight: 200;
    letter-spacing: .75px;
    
    position: relative;
    z-index: 1;
    background-color: #2C3746;
    padding: 20px 0 0 0;

}

.bottom-block .bottom-container img{
    width: 85%;
    position: relative;
    
    z-index: 0;
}


.bottomModal-container{
    width:100%;
    text-align: center;
}

.bottomModal-container p{
    color: white;
    font-size: 1.75em;
    font-weight: 200;
    letter-spacing: .75px;
    
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 20px 0 0 0;
}

.bottomModal-container img{
    width: 60%;
    position: relative;
    
    z-index: 0;
}

img
{
    width: 100%;
}


/* FRONT PAGE */

.bg-speechbubble
{
    background-image: url(images/speechbubble.png);
    background-size: cover;
    background-position: center;
   
    width: 1100PX;
    height: 580px;

    display: block;
/*    padding: 14%;*/

    margin: 0% AUTO 3% AUTO;
    padding-top: 6.5%

}

.icon-help
{
    width: 40px;
    margin: auto;
    display: block;
    
    margin-bottom: 40px;
}

#screen-home .title
{
    font-size: 4.75em;
    letter-spacing: 5px;
    
    text-align: center;
    margin: 0;
    
    font-weight: 600;
}
#screen-home .title2
{
    letter-spacing: 4px;
    margin: 0;
    opacity: .7;
    
    text-align: center;
}

#screen-home .button-start
{
    width: 25%;
    padding: .65%;
    
    background-color: #2C3746;
    
    border-radius: 60px;
    
    margin: 40px 37.5% 0 37.5%;
}

#screen-home .button-start h4
{
    color: white;
    text-align: center;
    
    font-size: 1.75em;
    letter-spacing: 4px;
}



.no-padding-top
{
    padding-top: 0;
}
.no-padding
{
    padding: 0;
}
.no-padding-left
{
    padding-left: 0;
}
.no-padding-right
{
    padding-right: 0;
}

.spacer-xs
{
    height: 15px;
}

/*  RESULT BLOCK  */

.result-block #info-section
{
    padding: 2.5%;
    height: 701px;
    
    font-size: 1.35em;
}

.result-block .label
{
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 1.1em;
}

.result-block .result-title
{
    font-size: 2.5em;
    font-weight: 600;
}
.result-block .room-type
{
    font-size: 1.5em;
}

.result-block .result-text 
{
    font-size: 1em;
}
.result-block .result-text-name
{
    font-size: 1.5em;
    font-weight: 600;
}

.result-block #info-section
{
    background-color: white;
}

.result-block .room-img
{
    
    background-position: center;
    background-size: cover;
    
    width: 100%;
    height: 390px;
    
    margin:5% 0 7.5% 0;
}

#map-section
{
    padding: 2%;
    margin: 1% 0;
}

.room-map
{
    width: 90%;  
    margin: 0 5% 0 5%;
}




.blue-block
{
    background-color: #2C3746;
    
    width: 100%;
    height: 1000px;
    
}



/* MODAL */


.modal-bg,.modal-clarifyPrefix,.modal-instruction
{
    background-image: url(images/modal-bg.png);
    
    width: 100%;
    
    
    padding: 330px 0 0 0;
    height: 1027px;
    
    position: absolute;
    
z-index: 5;
}

.modal-options, .modal-bottom{
    background-color: white;
    
    width: 501px;
    
    
    margin: auto;
    display: block;
    
/*    box-shadow: 0px 0px 35px BLACK;*/

}

.modal-options{
    -vendor-animation-duration: 1s;
  -vendor-animation-delay: 1s;
}

.modal-bottom{
    background-color: transparent;
}

.modal-header
{
    padding: 10px 20px 20px 25px;
    
    background-color: #1E2631;
    color: white;
} 

.modal-body{
   
    background-position: center;
    background-size: cover;
}

.modal-bg h3,.modal-clarifyPrefix h3{
    font-size: 2em;
    padding-left: 3px;
/*    text-align: center;*/
}
.modal-bg p, .modal-clarifyPrefix p {
    font-size: 1.75em;
/*    text-align: center;*/
    padding-left: 10px;
}


.faculty-shot
{
    width: 115px;
    height: 115px;
    background-size: cover;
    background-position: center;
    
    border-radius: 300px;

    margin: auto;
    display: block;
    
    float: right;
    
}
.faculty-name{
    font-size: 2em;
    margin: 0px 0 0px 0;  
}

.modal-bg .modal-body{
    padding: 5%;
}

.modal-event{
    
    background-image: url(images/modal-bg.png);
    
    width: 100%;    
    padding: 100px 0 0 0;
    height: 1027px;
    margin-bottom: 30px;
    
    position: absolute;
    
    z-index: 11;
    
}

.modal-event .calendar-container{
    margin-bottom: 30px;
    width: 75%;
    margin: auto;
    
}


.modal-event h3{
    font-size: 4em;
    color: white;
    font-weight: 500;
    margin-bottom: 30px;
}


#calendar-block
{
    position: relative;
    bottom:0;
    pointer-events: none;
    
    width:100%;
    
    margin: auto;
    display: block;
}

#dynamic-options .col-sm-4, #dynamic-options .col-sm-8{
    margin-bottom: 45px;
}

.faculty-commandText{
    position: absolute;
    right:-160px;
    top: 216px;
    width: 500px;
    
}


.faculty-commandText .command-dynamicText, .faculty-commandText .prefix-dynamicText{
    font-size: 21px;
    font-weight: 300;
    
    float: right;
    display:none;
    position: relative;


}

.faculty-commandText .prefix-dynamicText{
    font-size: 24px;

    
    font-weight: 900;
    
    float: right;
    display:none;
    position: relative;
    margin-top: -4px;
    margin-left: 10px;

    
    width: 42%;
}

.room-commandText{
    position: absolute;
    right:164px;
    top: 88px;  
    width: 400px;
}

.room-commandText .command-dynamicText{
    font-size: 21px;
    font-weight: 300;
    
    float: right;
    display:none;
    position: relative;
}

.room-commandText .room-dynamicText{
    font-size: 24px;    
    font-weight: 900;
    
    float: right;
    display: none;
    position: relative;
    margin-top: -1px;
    margin-left: 10px;

    
    width: 42%;
}

.event-dynamicText{
    font-size: 21px;    
/*    font-weight: 900;*/
    

/*    display: none;*/
    position: relative;
    top:213px;
    margin-left: -55px;

    width: 42%;
}

.event-label{
    font-size: 24px;    
    font-weight: 900;
    margin: 0 6px 0 6px;
    
}


